html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
div#header {
  text-align: center;
}

div#content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

div#footer > div#button-container {
  margin: 5px;
  display: flex;
}
div#footer > div#button-container > button {
  flex: 1;
  margin: 5px;
}

div#content > div#no-card-msg-box {
  margin: 10px;
  padding: 10px;
}

div#content > div#main,
div#card-management {
  display: flex;
  flex-direction: column;
  flex: 1;
}
div#content > div#main > ul#category-list {
  padding: 10px;
  flex: 1;
}
div#content > div#main > ul#category-list > li {
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 5px;
}
div#content > div#main > ul#category-list > li.header {
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
div#content > div#main > ul#category-list > li > input,
span {
  margin: auto 5px;
}
div#content > div#main > ul#category-list > li > span.align-center {
  text-align: center;
}
div#content > div#card-management > form#category-search-form > fieldset {
  margin: 0px;
  padding-bottom: 0px;
}
div#content > div#card-management > form#category-search-form input {
  margin: 0px;
}
div#content > div#card-management > form#category-selector {
  display: grid;
  margin: 0px 12px;
  grid-template-columns: repeat(2, 1fr);
}
div#content > div#card-management > form#category-selector > label {
  display: flex;
  font-size: smaller;
}
div#content > div#card-management > form#category-selector > label > * {
  margin: auto 2px;
}
div#content > div#card-management > form#category-selector > label > button {
  background-color: transparent;
  border: none;
  font-size: smaller;
  margin: auto 2px auto auto;
  padding: 0px;
  outline: none;
}
div#content > div#card-management > form#category-selector > label > button.delete-btn {
  margin: auto 2px;
}
div#content > div#card-management > span#category-create-msg {
  margin: 0 auto;
}
div#content > div#card-management > span#category-create-msg > span.keyword {
  color: tomato;
}
div#content > div#card-management > form {
  padding: 10px;
}
div#content > div#card-management > form > fieldset {
  border: none;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr;
}
div#content > div#card-management legend {
  font-weight: bold;
  font-style: italic;
}
div#content > div#card-management legend::after {
  content: ' ✏️';
}
div#content > div#card-management > form > fieldset > label {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

div#content > div#card-management > form > fieldset > label > input,
select,
textarea {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
div#content > div#card-management > form > fieldset > label > textarea {
  resize: none;
  height: 30vh;
}
div#content > div#card-management > form > fieldset > button {
  margin-left: auto;
}
div#content > div#card-info {
  margin: 10px;
  flex: 1;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
}
div#content > div#card-info > span.category {
  font-style: italic;
  position: absolute;
}
div#content > div#card-info > span.card {
  font-weight: bolder;
  margin: auto;
  font-size: 10vw;
  text-align: center;
  flex: 1;
}
div#content > div#card-description {
  display: flex;
  flex: 1;
}
div#content > div#card-description > textarea#description {
  flex: 1;
  margin: 5px;
  resize: none;
  border: none;
}
